@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1f2937;

  /* Bakery Theme Colors */
  --primary: #ef4444;        /* medium red */
  --primary-hover: #dc2626;  /* darker red */
  --soft-red: #fee2e2;       /* light red background */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-soft-red: var(--soft-red);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 15px;
}